################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MitchHotkeys
/MitchHotkeys/bin
/MitchHotkeys/obj
/MitchHotkeys.UI.WPF/bin
/MitchHotkeys.UI.WPF/obj
/packages
*.suo
/MitchHotkeys.Logic.Models/bin
/MitchHotkeys.Logic.Models/obj
/MitchHotkeys.UI.Models/obj
/MitchHotkeys.UI.Models/bin
*.user
